<!-- Show All Products: -->
<div class="container"></div>
<div class="row"></div>
<div class="col-10  d-flex flex-row align-items-center justify-content-center">
  {{#each categories as |cat| }}
  <div class="card me-2" style="width: 21rem; height: 26rem;">
    <img src="{{cat.img_url}}" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title">{{cat.category_name}}</h5>
      <p class=""></p>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">See Product</a>
    </div>
  </div>
  {{/each}}
</div>
</div>
</div>