<!-- Show All Products: -->
<div class="container"></div>
<div class="row"></div>
<div class="col-10  d-flex flex-row align-items-center justify-content-center">
  {{#each products as |product| }}

  <div class="card" style="width: 18rem;">
    <img src="{{product.img_url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.product_name}}</h5>
      <p class="">{{product.category.category_name}}</p>
      <p class="card-text">{{product.description}}</p>
      <a href="#" class="btn btn-primary">See Product</a>
    </div>
  </div>

  {{/each}}
</div>
</div>
</div>